<div class="mx-auto">
  <h1 class="font-bold text-5xl">東京選挙マッチング</h1>
  <h1 class="font-bold text-2xl my-8">Q <%= @question.id %> / 10</h1>
  <h2 class="font-bold text-4xl my-8"><%= @question.content %></h2>
  <div class="card w-full bg-base-100 shadow-xl">
    <div class="card-body">
      <div class="card-actions justify-end">
        <%= button_to "超賛成", answer_question_path(@question, result: "超賛成"), class: "alert alert-green w-full" %>
        <%= button_to "賛成", answer_question_path(@question, result: "賛成"), class: "alert alert-blue w-full" %>
        <%= button_to "反対", answer_question_path(@question, result: "反対"), class: "alert alert-pink w-full" %>
        <%= button_to "無回答", answer_question_path(@question, result: "無回答"), class: "alert alert-secondary w-full" %>
      </div>
    </div>
  </div>
</div>
